<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:supportsRtl="true">
        <!--        android:allowBackup="true"-->
        <service
            android:name="com.geek.biz1.KillSelfService1"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest><!--    package="com.geek.biz1"-->