<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fosung.lighthouse.libjitsi">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".Act_jitsi1"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.libjitsi.Act_jitsi1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>